<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lesson for <%= @student.name %></h1>
    <p>
      A lesson of <%= lesson.duration %> minutes has been given for <%= @student.name %>.</br>
    </p>
    <p>
        Current account balance is: <%= number_to_currency @student.balance %></br>
    </P
    <p>Thanks and have a great day!</p>
  </body>
</html>