<h1>Add Lesson</h1>

<%= render 'form', lesson: @lesson %>

<%= link_to 'Full Lesson History', student_lessons_path, :class=>'btn btn-primary' %>
<%= link_to 'Back To Student', @student, :class=>'btn btn-primary' %>